<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Store</title>
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/**/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />

</head>
<body>

    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">ONLINE STORE</a>
    </div>

    <div class="row m-1 p-1">

        <div id="categories" class="col-3">
            Inside Col-3
        </div>

        <div class="col-9">
            Inside Col-9
            <br />

            @RenderBody()
        </div>
    </div>
</body>
</html>
